<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">City</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers;">
    <td>{{customer.name}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.city}}</td>
    <td>
      <button class="btn btn-secondary btn-sm " style="margin-right: 5px" [routerLink]="customerPathPrefix+customer.id">Edit</button>
      <button class="btn btn-danger btn-sm" (click)="deleteCustomer(customer.id)">Delete</button>
    </td>
  </tr>


  </tbody>
</table>

<app-button variant="primary"  [routerLink]="path">
  Create Customer
</app-button>
