<div class="d-flex justify-content-end">
<button class="btn btn-primary mt-5 customBtn" routerLink="/create-customer"> Add Customer</button>
</div>

<table class="table table-borderless mt-5">
  <thead class="border-0" style="line-height: 50px;">
  <tr>
    <th scope="col">Customer Id</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">City</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers;">
    <td style="LINE-HEIGHT:50px; padding-left: 2rem; font-weight: 700;">{{customer.id}}</td>
    <td style="LINE-HEIGHT:50px">{{customer.name}}</td>
    <td style="LINE-HEIGHT:50px">{{customer.phone}}</td>
    <td style="LINE-HEIGHT:50px">{{customer.email}}</td>
    <td style="LINE-HEIGHT:50px">{{customer.address}}</td>
    <td style="LINE-HEIGHT:50px">{{customer.city}}</td>
    <td>
      <button class="btn btn-primary  " style="margin-right: 5px" [routerLink]="'/update-customer/'+customer.id">Edit</button>
      <button class="btn btn-danger " (click)="deleteCustomer(customer.id)">Delete</button>
    </td>
  </tr>


  </tbody>
</table>

