
<form>
  {{form.value | json}}
  <br>
  <br>
  {{form.errors | json}}


    <app-text-field [control]="form.get('name')" label="Name" placeholder="Name"></app-text-field>

    <app-text-field [control]="form.get('phone')"  label="Phone" placeholder="phone"></app-text-field>


  <app-text-field [control]="form.get('email')"  label="Email" placeholder="email" type="email"></app-text-field>


  <app-text-field [control]="form.get('address')"  label="Address" placeholder="address" ></app-text-field>

  <app-text-field [control]="form.get('city')"  label="City" placeholder="city"></app-text-field>


  <button class="btn btn-primary" type="button" [disabled]="form.invalid" (click)="formSubmitted($event)">

    {{isEditMode() ? 'Update': 'Create'}}
  </button>
</form>
